<phpunit bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="mangafox">
      <file>tests/SearchTest.php</file>
      <file>tests/ResourceTest.php</file>
      <file>tests/ScanTest.php</file>
      <file>tests/ReleasesTest.php</file>
      <file>tests/IndexTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>